body {
  color: #454241;
  background-color: #fff;
  font-family: "libre-caslon", "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.846;
  text-align: left;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 10px;
}

p {
  margin: 0 0 12.5px;
}

article,
nav,
section {
  display: block;
}

svg:not(:root) {
  overflow: hidden;
}

button {
  font-family: "avenirnext-regular", Helvetica, Arial, sans-serif;
  color: inherit;
  font: inherit;
  margin: 0;
  overflow: visible;
  text-transform: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  outline: 0;
  -webkit-appearance: button;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  background-color: transparent;
  color: #4ea2ce;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

h4 {
  font-family: libre-caslon, "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
  font-weight: normal;
  line-height: 1.1;
  color: #0c1204;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
  font-size: 20px;
}

ul {
  margin-top: 0;
  margin-bottom: 12.5px;
}

ul ul {
  margin-bottom: 0;
}

.article {
  padding: 0 !important;
  position: relative;
  width: 100%;
  padding-bottom: 9rem !important;
}

.article .article-byline a,
.article .article-title a {
  color: #000;
  font-weight: 600;
}

.article-meta {
  left: 0;
  bottom: 2rem;
  max-width: 100%;
  position: relative;
  z-index: 10;
}

@media screen and (max-width: 479px) {
  .article-meta {
    font-size: 0.8em;
    line-height: 1.5em;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .article-meta {
    margin-top: -12rem;
  }
}

@media screen and (min-width: 768px) {
  .article-meta {
    bottom: -3rem;
    padding: 0 1rem;
    position: absolute;
  }
}

.article-categories {
  line-height: 1.12rem;
  padding-bottom: 1rem;
}

.article-category-link {
  color: #e53605;
  font-family: "avenirnext", Helvetica, Arial, sans-serif;
  font-size: 1.12rem;
  text-transform: uppercase;
  text-decoration: none !important;
}

.article-link {
  height: 100%;
}

.article-title {
  font-family: "didot", Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 2.75rem;
  padding-bottom: 1rem;
  letter-spacing: -0.9px;
  text-align: left;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .article-title {
    max-width: 18em;
  }
}

.article-title,
.article-title a {
  color: #000;
}

.article-header {
  display: flex;
  justify-content: space-between;
}

.article-header .credits {
  flex: 1;
  line-height: 1.4rem;
  font-size: 1.2rem;
}

.article-header .article-byline {
  flex: 1;
  line-height: 1.25em;
  font-size: 0.9em;
  margin-bottom: 0.25rem;
}

@media screen and (max-width: 767px) {
  .article-header .article-byline {
    font-size: 0.8em;
  }
}

.article-byline {
  font-family: "avenirnext", Helvetica, Arial, sans-serif;
}

.article-byline,
.article-byline a {
  color: #111;
}

.article-byline a {
  font-weight: 600;
}

.article-card {
  padding: 2rem 1.5rem 1.5rem;
  background-color: #fff;
  letter-spacing: 0.27px;
  max-width: 30rem;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .article-card {
    max-width: 38rem;
  }
}

.article-card .article-deck {
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  .article-card .article-deck {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .article-card .article-deck {
    font-size: 1.2rem;
  }
}

.article-card .article-deck .content p {
  overflow: hidden;
  max-height: 6.5em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  text-overflow: ellipsis;
  text-overflow: -o-ellipsis-lastline;
  text-align: left;
  margin-bottom: 0;
}

.article-card .article-deck .content p::before {
  content: "";
  float: left;
  width: 5px;
}

.nav-user .avatar-image {
  max-width: 40px;
  border: 2px solid white;
  outline: none;
  height: auto;
}

.avatar {
  padding: 5px;
}

.col-xs-3,
.col-xs-6 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-6 {
  width: 50%;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid:after,
.container-fluid:before {
  content: " ";
  display: table;
}

.container-fluid:after {
  clear: both;
}

.contributors-list-page__header__h1 {
  display: none;
}

.display-footer {
  transform: translateY(0);
}

.dropdown-menu {
  display: none;
}

#enliven-navbar .empty {
  color: #cecfcd;
}

#enliven-navbar .caret-d {
  display: none;
}

/* @media screen and (min-width: 1200px) {
  .footer-nav__topics .navbar-level-0 .caret-d {
    display: none;
  }
} */

.lazyload-placeholder {
  width: 92vw;
  margin-right: 2rem;
  height: 20rem;
  background: #f5f5f5;
}

@media screen and (min-width: 480px) {
  .lazyload-placeholder {
    width: 95vw;
    height: 30rem;
  }
}

@media screen and (min-width: 690px) {
  .lazyload-placeholder {
    width: 96vw;
    height: 44rem;
    margin-right: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .lazyload-placeholder {
    width: 94vw;
    height: 45rem;
  }
}

@media screen and (min-width: 992px) {
  .lazyload-placeholder {
    width: 100%;
  }
}

.navbar {
  position: relative;
  border: none;
  margin-bottom: 0;
  padding: 0;
  background-color: #fff;
  min-height: auto;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 3px;
  }
}

.container-fluid > .navbar-header {
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 768px) {
  .container-fluid > .navbar-header {
    margin-right: 0;
    margin-left: 0;
  }
}

.navbar-brand {
  float: left;
  line-height: 25px;
  height: auto;
  padding: 10px 0 0;
  margin: 0 !important;
  z-index: 1;
  font-size: 24px;
}

@media (min-width: 768px) {
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}

.navbar-default {
  border-color: #e7e7e7;
  background-color: transparent;
}

.navbar-default .navbar-brand {
  color: #6d7069;
}

.hide {
  display: none !important;
}

@media screen and (min-width: 480px) {
  .navbar-main {
    padding: 10px 0 0;
  }
}

.navbar-default .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

@media screen and (min-width: 768px) {
  .navbar-default .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.navbar-default .container-fluid > .navbar-header {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .navbar-default .container-fluid > .navbar-header {
    padding-top: 1rem;
    margin-bottom: 0;
  }
}

.navbar-header {
  float: none !important;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-brand-img {
  display: block;
  float: none;
  margin: 0 auto;
  max-width: 100%;
  color: #927a4e;
  font-family: sans-serif;
  letter-spacing: 29px;
  font-size: 34px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .navbar-brand-img {
    letter-spacing: 20px;
  }
}

.navbar-brand-link {
  display: block;
  max-width: 320px;
  margin: 0 auto;
}

@media screen and (max-width: 479px) {
  .navbar-brand-link {
    max-width: 150px;
    padding-top: 10px;
  }
}

.nav-user {
  color: #fff;
  padding: 0;
  text-align: center;
  z-index: 100;
}

@media (max-width: 768px) {
  .nav-user {
    line-height: 18px;
  }
}

.nav-user .account-link {
  padding: 1rem 10px 0;
  float: right;
}

.img-responsive {
  object-fit: contain;
  object-position: top;
  display: block;
  max-width: 100%;
  height: auto;
}

.react-flex-view .particle-image {
  height: 100%;
  max-height: 100vh !important;
  max-width: none;
  object-fit: cover !important;
  width: 100%;
}

@media (min-width: 768px) and (orientation: portrait) {
  .card-i03 .react-flex-view .particle-image,
  .card-i03 .react-flex-view .particle-image .img-responsive {
    min-height: 100vh !important;
    max-height: unset !important;
  }
}

/* @FIXME - creates problems with safari
@media (min-width: 768px) {
  .card-i03 .image-format-tall {
    height: 100%;
  }
}
*/

@media (min-width: 992px) {
  .card-i03 .react-flex-view .particle-image,
  .card-i03 .react-flex-view .particle-image .img-responsive {
    min-height: unset !important;
    max-height: 100vh !important;
  }
}

.react-flex-view .particle-image .img-responsive {
  height: 100%;
  max-height: 100vh !important;
  max-width: none;
  object-fit: cover;
  width: 100%;
}

.contributor-subscribe .particle-image,
.page-contributors-profile .navbar-section .particle-image {
  position: absolute;
}

.particle-image {
  position: relative;
}

.page-contributors-profile .profile-avatar .particle-image {
  border-radius: 50%;
  background-color: white;
  height: 18rem;
  width: 18rem;
  margin-top: -10rem;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.page-contributors-profile .avatar-s {
  transform: translateY(6%);
  height: 16rem !important;
  width: 16rem !important;
}

#react-app {
  overflow: hidden;
  font-family: avenirnext-regular, Helvetica, Arial, sans-serif;
}

#page-wrapper {
  min-height: calc(100vh - 250px);
  margin-top: 14px;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

@media screen and (max-width: 768px) {
  .zero-padding {
    padding: 0 !important;
  }
}

@media screen and (min-width: 992px) {
  .react-flex-view {
    display: flex;
  }
}

.posts-list-content {
  border-top: 1px solid #ddd;
  margin-bottom: 15px;
}

.posts-item {
  border-bottom: 1px solid #ddd;
  padding: 0;
  border: 0;
  margin: 0 0 20px;
  display: flex;
  flex-direction: column;
  flex: 1.6180334 1.6180334 auto;
  align-items: normal;
}

@media screen and (min-width: 600px) {
  .posts-item {
    align-items: center;
  }
}

@media only screen and (min-width: 768px) {
  .posts-item {
    margin: 0 10px 40px;
  }
}

@media screen and (min-width: 992px) {
  .posts-item {
    align-items: stretch;
  }
}

.posts-list-content {
  border-top: 0;
  margin-bottom: 0;
  text-align: left;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .page-posts-list .article {
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 991px) {
  .posts-list-row .article {
    width: auto;
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row:after,
.row:before {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.header-headroom-disabled .headroom {
  position: relative;
  transform: translateY(0);
}

.section-divider {
  font-family: avenirnext-regular, Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px 25px 10px;
}

@media screen and (min-width: 992px) {
  .section-divider {
    padding-bottom: 25px;
  }
}

.section-divider .divider {
  border-bottom: 1px solid #000;
  flex: 1;
}

.section-divider .section-header {
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1.7px;
  text-align: center;
  text-transform: uppercase;
  padding: 0 10px;
  color: #000;
  max-width: 22rem;
  display: flex;
  height: 5rem;
  align-items: center;
}

@media screen and (min-width: 992px) {
  .section-divider .section-header {
    padding: 0 30px;
    max-width: 40rem;
  }
}

.section-divider.grey .divider {
  border-bottom-color: #d7d7d7;
}

.section-divider.grey .section-header {
  color: #4a4a4a;
}

.page-posts-list #page-wrapper {
  margin-top: 10px;
}

.page-posts-list .section-divider {
  margin: 0 10px;
}

.header-logo {
  max-width: 320px;
  margin: 0 auto;
  position: relative;
}

.headroom--unfixed {
  position: relative;
  transform: translateY(0);
  box-shadow: none;
}

.headroom--unfixed,
.headroom-wrapper {
  height: auto !important;
  z-index: 1030 !important;
}

.svg-fa-down {
  position: absolute;
  left: 23rem;
  padding-top: 2.3rem;
}

.hiddenMenu {
  opacity: 0;
  left: -100vw;
}

.img-circle {
  border-radius: 50%;
}

#enliven-navbar .navbar-level-0 {
  list-style-type: none;
  margin: 0;
  padding: 14px 0 0 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

#enliven-navbar .navbar-level-0 li a {
  color: #927a4e;
  text-align: center;
  text-decoration: none;
}

#enliven-navbar .hidden-drop {
  display: none;
}

#enliven-navbar .show-drop {
  display: block;
}

#enliven-navbar .navbar-level-0 .navbar-level-0-link .navbar-level-1 {
  position: absolute;
  top: 7rem;
  list-style-type: none;
  background-color: white;
  z-index: 1000;
  padding: 10px 20px;
}

#enliven-navbar .navbar-level-0 .navbar-level-0-link {
  flex: 1;
  padding: 10px 0px;
  text-overflow: ellipsis;
  text-align: center;
  position: relative;
  align-self: center;
}

#enliven-navbar .navbar-level-0 .navbar-level-0-link .navbar-level-1 .navbar-level-1-link {
  padding: 10px 0;
}

#enliven-navbar .navbar-level-0 .navbar-level-0-link .word-2,
#enliven-navbar .navbar-level-0 .navbar-level-0-link .wordcount-2 .word-1 {
  display: block;
}

.particle-text,
.particle-text.lead {
  font-weight: normal;
  letter-spacing: 0.3px;
  line-height: 1.625;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -ms-word-break: break-all;
  -webkit-hyphens: auto;
  hyphens: auto;
  overflow-wrap: break-word;
}

.users-menu {
  float: right;
}

.body .particle-text,
.layout-article .col-left,
.layout-article .col-right {
  padding-left: 4rem;
  padding-right: 4rem;
}
